/*Main*/
/*-------------------------------------------------*/
body{
	font: 16px/1.5 "PT Sans", "Helvetica", "Arial";
	background-color: #f0f0f0;
}
h1{
	font-size: 2em;
	line-height: 1.15em;
	font-weight: normal;
	margin: 0.875em 0 0 -1px;
}
h3{
	font-size: 1.125em;
	line-height: 1.5em;
	font-weight: bold;
	margin: 1em 0;
}
a, a:visited, a:focus, a:active{
	color: #454545;
	text-decoration: none;
	border-bottom: 1px solid #bbb;
}
a:hover{
	color: #111;
	text-decoration: none;
	border-bottom: 1px solid #999;
}
li{
	padding-bottom: 1em;
	list-style: none;
}
li:before{
	content: "—";
	margin: 0 0.25em 0 -1em;
}
p{
	padding-bottom: 1em;
}
button{
	border-radius: 3px;
	box-shadow: 0 1px 3px #bbb, 0 1px 1px #aaa ;
	border: none;
	font-size:1.325em;
	color: #fff;
	padding:7px 20px;
	text-shadow:0 1px 1px #3461a2;
	background: #6ca6f6;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#6ca6f6), color-stop(100%,#3771bf)); 
	background: -o-linear-gradient(top,  #6ca6f6 1%,#3771bf 100%);
	background: -ms-linear-gradient(top,  #6ca6f6 1%,#3771bf 100%);
	background: linear-gradient(to bottom,  #6ca6f6 1%,#3771bf 100%);
	margin-bottom: 1em;
}
button:hover{
	background: #72aeff;
	background: -webkit-linear-gradient(top,  #72aeff 0%,#3670be 100%); 
	background: -o-linear-gradient(top,  #72aeff 0%,#3670be 100%);
	background: -ms-linear-gradient(top,  #72aeff 0%,#3670be 100%);
	background: linear-gradient(to bottom,  #72aeff 0%,#3670be 100%);
}
button:active{
	box-shadow: 0 1px 0px #aaa;
	margin-top:1px;
}



/*Wrappers*/
/*-------------------------------------------------*/
.wrapper{
	width: 100%;
}
.content{
	max-width: 570px;
	padding: 0 40px;
	padding-bottom: 2em;
}
.shadow{
	box-shadow:0 5px 70px #999;
}



/*Main menu*/
/*-------------------------------------------------*/
.main-menu{
	height: 35px;
	padding-top: 10px;
	padding-left: 40px;
	background: #4a4a4a;
	background: -webkit-linear-gradient(top,  #4a4a4a 0%,#434343 72%,#313131 100%);
	background: -o-linear-gradient(top,  #4a4a4a 0%,#434343 72%,#313131 100%);
	background: -ms-linear-gradient(top,  #4a4a4a 0%,#434343 72%,#313131 100%);
	background: linear-gradient(top,  #4a4a4a 0%,#434343 72%,#313131 100%);
	border-bottom: 1px solid #fff;
}
.main-menu a{
	color: #dbdbdb;
	font-size: 0.875em;
	margin-right: 1em;
	position: relative;
	text-shadow: 0 1px 2px #000;
	border-bottom: none;
}
.main-menu a:hover{
	color: #fff;
}
.main-menu a.active{
	pointer-events: none;
}
.main-menu a.active:after{
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 5px solid;
	left: 50%;
	bottom: -15px;
	margin-left: -5px;
	border-color:	transparent	transparent #fff	transparent;
}
.main-menu a.current{
	border-radius:3px;
	color: #454545;
	margin-left: -1px;
	font-size: 0.813em;
	text-shadow: 0 1px 2px #fff;
	padding: 2px 14px 3px 10px;
	box-shadow:0 1px 2px #000;
	background: #ffffff; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
	background: linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
}
.main-menu a.current:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#fafafa));
	background: -webkit-linear-gradient(top,  #ffffff 40%,#fafafa 100%);
	background: -o-linear-gradient(top,  #ffffff 40%,#fafafa 100%);
	background: -ms-linear-gradient(top,  #ffffff 40%,#fafafa 100%);
	background: linear-gradient(top,  #ffffff 40%,#fafafa 100%);
}
.main-menu a.current:active{
	vertical-align: -1px;
	box-shadow: 0 1px 0px #000;
	margin-top:1px;
}



/*Filter*/
/*-------------------------------------------------*/
.filter{
	margin-left: 1px;
	margin-top:1.375em;
}
.filter a{
	margin-left: -1px;
	font-size: 0.813em;
	text-shadow: 0 1px 0 #fff;
	padding: 2px 14px 3px;
	border: 1px solid #d1d1d1;
	box-shadow: 0 1px 0 #fff;
	background: #ffffff; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
	background: -o-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
	background: -ms-linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
	background: linear-gradient(top,  #ffffff 40%,#f0f0f0 100%);
}
.filter a.active{
	pointer-events: none;
	box-shadow: 0 1px 0 #fff, inset 0 1px 3px #888;
	background: #ddd; 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ddd), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #ddd 40%,#ffffff 100%);
	background: -o-linear-gradient(top,  #ddd 40%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #ddd 40%,#ffffff 100%);
	background: linear-gradient(top,  #ddd 40%,#ffffff 100%);

}
.filter a:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(40%,#ffffff), color-stop(100%,#fafafa));
	background: -webkit-linear-gradient(top,  #ffffff 40%,#fafafa 100%);
	background: -o-linear-gradient(top,  #ffffff 40%,#fafafa 100%);
	background: -ms-linear-gradient(top,  #ffffff 40%,#fafafa 100%);
	background: linear-gradient(top,  #ffffff 40%,#fafafa 100%);
}
.filter a.first{
	border-top-left-radius:15px;
	border-bottom-left-radius:15px;
	padding-left: 16px;
}
.filter a.last{
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	padding-right: 16px;
}



/*Signals*/
/*-------------------------------------------------*/
.signals{
	margin-top: 1.375em;
}
.signals .info{
	padding-bottom: 1em;
	text-shadow: 0 1px 0 #fff;
}
.signals .info .title{
	font-size: 1.063em;
	line-height: 1.25em;
	font-weight: normal;
}
.signals .data{
	padding: 0;
}



/*Article*/
/*-------------------------------------------------*/
.signal-text{

}
.signal-text .signal-data{
 margin-bottom: 0.325em;
}
.signal-text img{
	margin:0.5em 0 2em 0.12em;
	max-width: 640px;
	height: auto;
}



/*Comments*/
/*-------------------------------------------------*/
.comments{
	clear:both;
}
.comments header{
	margin:2em 0 1.5em;
	padding-left: 1px;
}
.comments header .add-comment-link{
	margin-left:1em;
	font-size:0.875em;
}
.comments .comment{
	padding:0.5em 1em 0.2em;
	background-color: #FFF;
	border-radius: 5px;
	margin-bottom: 1.5em;
}
.comments .comment .text{
	margin-top: -0.813em;
}



/*Add Signal Page*/
/*-------------------------------------------------*/
.signal-add{
 margin: 1.5em 0;
}
.signal-add .title-f{
	width: 100%;
	font-size: 2em;
	line-height: 1.15em;
	font-weight: normal;
	padding: 5px 7px;
	margin-bottom: 1em;
	border: 1px solid #bbb;
}
.signal-add .text-f{
	width: 100%;
	padding: 7px 9px;
	min-height:20em;
	margin-bottom: 1.5em;
	border: 1px solid #bbb;
}



/*Other*/
/*-------------------------------------------------*/
.inln{
	display: inline;
}
.pseudo{
	border-bottom:1px dotted;
	cursor:pointer;
}
.data .who, .data .he-she, .data .when{
	font-size: 0.75em;
	line-height: 1.25em;
	color: #b2b2b2;
}
.data .anchor{
	font-size: 1em;
	line-height: 1.25em;
	color: #b2b2b2;
	float: right;
}



/*Media Q*/
/*-------------------------------------------------*/
@media only screen and (max-width : 770px) {
	.content{
		padding: 0 20px;
	}
	.main-menu{
		padding-left: 20px;
	}
}
@media screen and (max-width: 680px){
	.signal-text img{
		max-width: 100%;
	}
}


