@charset "UTF-8";

@font-face {
  font-family: 'fontello';
  src: url('fontello.eot');
  src: url('fontello.eot?#iefix') format('embedded-opentype'),
       url('fontello.woff') format('woff'),
       url('fontello.ttf') format('truetype'),
       url('fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-style: normal;
  speak: none;

  width: 1.1em;
  margin-right: .3em;
  text-align: center;
}

.the-icons li {
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.icon-plus:before { content: "+"; font-size: 15px; font-family: fontello;} /* '\2b' */
.icon-left-dir:before { content: '\25c2'; font-family: fontello; font-family: fontello;vertical-align: 1px; margin-right: 2px; color: #666; } /* '◂' */
.icon-star:before { content: '\73'; } /* 's' */
.icon-star-empty-1:before { content: '\61'; } /* 'a' */
.icon-lock-empty:before { content: '\6b'; } /* 'k' */
.icon-lock-open-empty:before { content: '\79'; } /* 'y' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-lock:before { content: '\6c'; } /* 'l' */
.icon-lock-open:before { content: '\75'; } /* 'u' */
