@import "../util/vendor"
/*Comments*/
/*-------------------------------------------------*/
.comments{
	padding-top: 2em;
}
.comments header{
	margin:2em 0 1.5em;
	padding-left: 1px;
}
.comments header .add-comment-link{
	margin-left:1em;
	font-size:0.875em;
}
.comments header .add-comment-link:hover{
	color: #888;
}
.comments .comment{
	padding:0.5em 1em 1em 2.5em;
	background-color: #FFF;
	border-radius: 5px;
	margin:0 0 2em 1em;
	position: relative;
}
.comments .comment .text{
	margin-top: 8px;
	font-weight: normal;
}
.comments .comment .avatar{
	position: absolute;
	left:-0.813em;
	top:-0.813em;
	width: 40px;
	height: 40px;
	opacity: 1;
}


.comment:hover {
    .btn-remove {
        display:inline-block;
    }
}