@import "../util/vendor"
/*Filter*/
/*-------------------------------------------------*/
.filter {
	margin-left: -2px;
	margin-top:1.375em;
    
    a {
        margin-left: -1px;
        font-size: 0.813em;
        text-shadow: 0 1px 0 #fff;
        padding: 2px 14px 3px;
        border: 1px solid #d1d1d1;
        box-shadow: 0 1px 0 #fff;
        background: #ffffff; 
        gradient(top,  #ffffff 40%,#f0f0f0 100%);
        
        &.active {
            pointer-events: none;
            box-shadow: 0 1px 0 #fff, inset 0 1px 3px #888;
            background: #ddd; 
            gradient(top,  #ddd 40%,#ffffff 100%);
        }
        &:hover {
            gradient(top,  #ffffff 40%,#fafafa 100%);
        }

        &:first-child {
            border-top-left-radius:15px;
            border-bottom-left-radius:15px;
            padding-left: 16px;
        }
        &:last-child {
            border-top-right-radius:15px;
            border-bottom-right-radius:15px;
            padding-right: 16px;
        }
    }
    .filter-item-count{
        padding-right: 12px;
    }
    .filter-item-count span{
        background-color: #888;
        font-size: 0.75em;
        vertical-align: 1px;
        padding: 0.15em 0.5em;
        border-radius: 1em;
        text-shadow: none;
        color: #eee;
        margin-left: 0.5em;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
    }
}
