.search-null{
	margin-top: 1em;
	font-size: 1.5em;
	font-weight: bold;
	-webkit-text-stroke: 0;
	color: transparent;
	background-color: rgba(82,96,117,0.4);
	-webkit-background-clip: text;
	text-shadow: rgba(255,255,255,0.5) 0 1px 2px;
	-webkit-transition: text-shadow .1s ease-out, background-color .2s ease-out;
}