/*Article*/
/*-------------------------------------------------*/
.signal-text{

}
.signal-text .signal-data{
 margin-bottom: 0.325em;
}
.signal-text img{
	margin:0.5em 0 2em 0.12em;
	max-width: 640px;
	height: auto;
}