@import "../util/vendor"
/*Signals*/
/*-------------------------------------------------*/
.signals {
	margin-top: 1.5em
    .info {
        padding-bottom: 1em;
        text-shadow: 0 1px 0 #fff;

        .title {
            font-size: 1.063em;
            line-height: 1.25em;
            font-weight: normal;
            margin-right: 0em
        }

        .data {
            padding: 0;
            line-height: 1.5em;
            display: inline-block;
        }
    }
}
