/*Article*/
/*-------------------------------------------------*/
.signal-text{

}
.whom{
	width: 100%;
	background-color: #ddd;
	border-radius: 3px;
	padding: 0.5em;
	margin-top: 1.5em;
	margin-left: -0.5em;
	overflow: hidden;
}
.whom label{
	color: #333;
	float:left; 
	margin-right: 0.4em;
	font-size: 0.875em;
	cursor: default;
	line-height: 1.8em;
}
.signal-text .data, .whom .data{
	padding-bottom: 0;
}
.whom .data{
	float: left;
	margin-right: 0.4em;
	line-height: 1.625em
}
.whom .data .who .avatar{
	margin-top: 4px;
}
.signal-text .typo{
	padding-top: 1em;
}
.signal-text .signal-data{
	margin-bottom: 0.325em;
}
.signal-text img{
	margin:0.5em 0 2em 0.12em;
	max-width: 640px;
	height: auto;
}