@import "../util/vendor";


.signals {
	margin-top: 1.5em
    .info {
        padding-bottom: 1em;
        text-shadow: 0 1px 0 #fff;

        .title {
            font-size: 1.063em;
            line-height: 1.25em;
            font-weight: normal;
            margin-right: 0em
        }

        .data {
            padding: 0;
            line-height: 1.5em;
            display: inline-block;
                .comment-count{
                    color: #999;
                    background: #fff; /* Old browsers */
                    padding: 0.1em 0.4em;
                    border-radius: 2px;
                    border: 1px solid #ddd;
                    font-size: 0.688em;
                    vertical-align: 1px;
                }
        }
    }
}
.star-ico{
    color: #aaa;
    font-size: 0.875em;
    cursor: pointer;
}
.star-ico:hover{
    color: #777;
}
.star-ico:after{
    content: "☆";
}
.active-star-ico:after{
    content: "★";
    color: #BE9E1B !important;
}