@import "../util/vendor"
/*Controls*/
/*-------------------------------------------------*/
.title-f, .url-f, .whom-f{
	width: 100%;
	font-size: 2em;
	line-height: 1.15em;
	font-weight: normal;
	padding: 5px 7px;
	margin-bottom: 1em;
	border: none;
	border-bottom: 1px solid #bbb;
	background-color: #F0F0F0;
	box-sizing: border-box;
}
.url-f {
	font-size: 1.5em;
	margin-bottom: 1.8em;
	border: none;
	border-bottom: 1px solid #bbb;
	background-color: #F0F0F0;
	box-sizing: border-box;
}
.whom-f{
	width:75%;
	font-size: 1em;
	margin-bottom: 1em;
	background-color: #fff;
	border: 1px solid #bbb;
	float: left;
	margin-right: 4%;
	box-sizing: border-box;
}
.text-f {
	width: 100%;
	padding: 7px 9px;
	margin-bottom: 1.5em;
	border: 1px solid #bbb;
	min-height: 20em;
	box-sizing: border-box;
}
.add-comment-f {
	min-height: 10em;
	margin-top: -0.5em;
}
button {
	border-radius: 3px;
	box-shadow: 0 1px 3px #bbb, 0 1px 1px #aaa ;
	border: none;
	font-size:1.325em;
	color: #fff;
	padding:7px 20px;
	text-shadow:0 1px 1px #3461a2;
	background: #6ca6f6;
	gradient(top,  #6ca6f6 1%,#3771bf 100%);
	margin-bottom: 1em;

    &:hover {
        background: #72aeff;
        gradient(top,  #72aeff 0%,#3670be 100%); 
    }
    &:active {
        box-shadow: 0 1px 0px #aaa;
    }
}
.private-f{
    float: right;
	margin-top: 0.2em;	
	white-space: nowrap;
	margin-bottom: 1em;
}
