/*Wrappers*/
/*-------------------------------------------------*/
.wrapper{
	width: 100%;
}
.content{
	max-width: 570px;
	padding: 0 40px;
	padding-bottom: 3em;
}
.shadow{
	box-shadow:0 5px 70px #999;
}




/*Media Q*/
/*-------------------------------------------------*/
@media only screen and (max-width : 770px) {
	.top{
		padding-left: 0px;
		padding-right: 17px;
	}
	.content{
		padding: 0 20px;
	}
	.main-menu{
		padding-left: 20px;
	}
	.separator-shadow {
		margin-left: -20px;
	}
}
@media screen and (max-width: 680px){
	.signal-text img{
		max-width: 100%;
	}
}


.page-view {
	display:none;
}